
h1{
    font-size: 20px;
    font-weight: 600;
    position:relative;
}

.login_container{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box{
    background: #F7F7F7;
    position: relative;
    /*box-shadow: 0px 12px 28px rgba(0, 0, 0, 0.3);*/
    border: 1px solid #000000;
    border-radius: 15px;
    width: 347px;
    height: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 1.7rem;
}


input{
    border: none;
    background: #EBEBEB;
    /*box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.25);*/
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    width: 18rem;
    height: 2.5rem;
    padding: 1.25rem;
}
